/* Felt like keeping this as an adequate size */
html {
    font-size: 14px;
}


#SuperCoolPhoto {
    width: auto;
    height: auto;
}

.center_text {
    text-align: center;
}


.umd-red{
    background-color: #c62d33;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.umd-white {
    background-color: #FFFFFF;
}

.insetborder {
    border: inset #FFD70F;
    border-width: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/* Cool font I found! */
.rubik-LacrosseWFont {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--myFontNum) * 1.2);
}

body {
background-image: url(imagefolder/Maryland\ Stadium.png);
font-family: "Rubik", sans-serif;
background-size: cover;
}

.mysiteheader {
    background-color: #000000;
    color: #FFFFFF;
    background-image: url("imagefolder/umd\ M.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: left;
    font-family: "Rubik", sans-serif;
    padding: 1.2rem;
    border-top: 0.5rem solid #FFD70F;
    border-bottom: 0.5rem solid #FFD70F
}

.header-logo {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

/* My attempt at using the variable custom property for the table I'm making */
:root {
    --table_primary_color: darkgrey;
    --color_gradient_lightredtowhite: linear-gradient(to bottom, rgb(255, 124, 124), #FFFFFF);
    --myFontNum: 1rem;
}


/* Found a handy way to show my text image pair like I wanted to, and how to alternate sides!
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-direction */
.textimagepair {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.textimagepairreverse {
    flex-direction: row-reverse;
}

.textportion {
    flex: 1;
    padding: 1.5rem;
    background-image: var(--color_gradient_lightredtowhite);
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--table_primary_color);
}

.imageportion {
    flex: 1;
    text-align: center;
}

.imageportion img {
    width: 27rem;
    height: auto;
    border-color:#000000;
    border-radius: 0.4rem;
    border-style: solid;
}

.video_container {
    text-align: center;
    margin: 0 auto;
}

caption {
    color: red;
    text-align: center;
}

table, tr,  td, th, thead, tbody {
    /* I saw this was sort of how you use a variable in an example online, so I wanted to use it 2 places to show it off */
    border: 0.2rem ridge var(--table_primary_color);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #FFD70F;
    color: black;
    font-weight: 500;
}
tbody tr:nth-child(even) {
    background-color: #c62d33;
    color: white;
    font-weight: 500;
}